body {
    text-align: center;
    font-family: 'Lora';
    padding: 2em;
    background-color: #fcfcf9;
    color: #74757a;
    padding-top: 3em;
}

.subheader {
    font-style: italic;
}

.social {
    width: 30%;
    margin-left: 35%;
    list-style-type: none;
    float: left;
    padding-left: 0;
    height: 100px;
}

.social li {
    float: left;
    width: 40%;
    margin-left: 5%;
}

.social a {
    text-decoration: none;
    font-size: 1.0em;
    letter-spacing: 0.1em;
    color: #74757a;
    border: 1px #74757a solid;
    padding: 1em;
    width: 100%;
    box-sizing: border-box;
    display: block;
    transition: 0.5s;
    font-style: italic;
}

.social a:hover {
    margin-top: -5px;
    opacity: 0.9;
    transition: 0.5s;
}

.images {
    width: 100%;
    float: left;
    margin-bottom: 2em;
}

.images a {
    color: inherit;
    text-decoration: none;
    margin: 1em;
    border: 1px #74757a solid;
    padding: 1em;
    font-style: italic;
}

.images a:hover {
    opacity: 0.8;
}

.example, canvas {
    width: 50%;
}

.slider {
    width: 50%;
    margin: 2em;
}

.footer {
    font-size: 0.8em;
    opacity: 0.8;
    margin-top: 4em;
}